.aside{
    position: fixed;
    bottom: 150px;
    top: 35px;
    width: 60px;
    margin-left: 15px;
}
.aside div img{
    height: 20px;
    width: 20px;
}
.aside-home, .aside-shorts, .aside-sub, .aside-lib, .aside-dwl{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    font-size: 10px;
    line-height: 20px;
    cursor: pointer;
}
.aside-home:hover, .aside-shorts:hover, .aside-sub:hover, .aside-lib:hover, .aside-dwl:hover{
    background-color: rgba(211, 211, 211);
    padding: 10px 20px;
    border-radius: 5px;
}
